BUSINESS & DATA UNDERSTANDING

Dataset : https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset?datasetId=1120859

In [3]:
#Memanggil Libraries
import numpy as np
import pandas as pd
import plotly.express as px

In [8]:
#Import data
df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [9]:
#cek tipe datanya
df.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [10]:
#ubah tipe data
df['age'] = df['age'].astype('int64')

In [11]:
#mencari keberadaan missing value (false(0), true(1))
df.isna()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,False,False,False,False,False,False,False,False,False,True,False,False
5106,False,False,False,False,False,False,False,False,False,False,False,False
5107,False,False,False,False,False,False,False,False,False,False,False,False
5108,False,False,False,False,False,False,False,False,False,False,False,False
5109,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
#menjumlahkan null values
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [13]:
#mencari laporan lengkap (jumlah non-null & type data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   int64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(2), int64(5), object(5)
memory usage: 479.2+ KB

In [15]:
#mencari jumlah nilai-unik tiap kolom
df.nunique()

id                   5110
gender                  3
age                    83
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3979
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

In [16]:
#menampilkan 1-50
df.head(50)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
10,12109,Female,81,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
11,12095,Female,61,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
12,12175,Female,54,0,0,Yes,Private,Urban,104.51,27.3,smokes,1
13,8213,Male,78,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
14,5317,Female,79,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
15,58202,Female,50,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
16,56112,Male,64,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
17,34120,Male,75,1,0,Yes,Private,Urban,221.29,25.8,smokes,1
18,27458,Female,60,0,0,No,Private,Urban,89.22,37.8,never smoked,1
19,25226,Male,57,0,1,No,Govt_job,Urban,217.08,NaN,Unknown,1
20,70630,Female,71,0,0,Yes,Govt_job,Rural,193.94,22.4,smokes,1
21,13861,Female,52,1,0,Yes,Self-employed,Urban,233.29,48.9,never smoked,1
22,68794,Female,79,0,0,Yes,Self-employed,Urban,228.70,26.6,never smoked,1
23,64778,Male,82,0,1,Yes,Private,Rural,208.30,32.5,Unknown,1
24,4219,Male,71,0,0,Yes,Private,Urban,102.87,27.2,formerly smoked,1
25,70822,Male,80,0,0,Yes,Self-employed,Rural,104.12,23.5,never smoked,1
26,38047,Female,65,0,0,Yes,Private,Rural,100.98,28.2,formerly smoked,1
27,61843,Male,58,0,0,Yes,Private,Rural,189.84,NaN,Unknown,1
28,54827,Male,69,0,1,Yes,Self-employed,Urban,195.23,28.3,smokes,1
29,69160,Male,59,0,0,Yes,Private,Rural,211.78,NaN,formerly smoked,1
30,43717,Male,57,1,0,Yes,Private,Urban,212.08,44.2,smokes,1
31,33879,Male,42,0,0,Yes,Private,Rural,83.41,25.4,Unknown,1
32,39373,Female,82,1,0,Yes,Self-employed,Urban,196.92,22.2,never smoked,1
33,54401,Male,80,0,1,Yes,Self-employed,Urban,252.72,30.5,formerly smoked,1
34,14248,Male,48,0,0,No,Govt_job,Urban,84.20,29.7,never smoked,1
35,712,Female,82,1,1,No,Private,Rural,84.03,26.5,formerly smoked,1
36,47269,Male,74,0,0,Yes,Private,Rural,219.72,33.7,formerly smoked,1
37,24977,Female,72,1,0,Yes,Private,Rural,74.63,23.1,formerly smoked,1
38,47306,Male,58,0,0,No,Private,Rural,92.62,32.0,Unknown,1
39,62602,Female,49,0,0,Yes,Private,Urban,60.91,29.9,never smoked,1
40,4651,Male,78,0,0,Yes,Private,Rural,78.03,23.9,formerly smoked,1
41,1261,Male,54,0,0,Yes,Private,Urban,71.22,28.5,never smoked,1
42,61960,Male,82,0,1,Yes,Private,Urban,144.90,26.4,smokes,1
43,1845,Female,63,0,0,Yes,Private,Urban,90.90,NaN,formerly smoked,1
44,7937,Male,60,1,0,Yes,Govt_job,Urban,213.03,20.2,smokes,1
45,19824,Male,76,1,0,Yes,Private,Rural,243.58,33.6,never smoked,1
46,37937,Female,75,0,1,No,Self-employed,Urban,109.78,NaN,Unknown,1
47,47472,Female,58,0,0,Yes,Private,Urban,107.26,38.6,formerly smoked,1
48,35626,Male,81,0,0,Yes,Self-employed,Urban,99.33,33.7,never smoked,1
49,36338,Female,39,1,0,Yes,Private,Rural,58.09,39.2,smokes,1

In [17]:
#cek kategory tiap kolom
df['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [30]:
#Uji Pemahaman:
#cek value unique dari gender,residence_type, smoking_status

print(df['gender'].unique())
print(df['Residence_type'].unique())
print(df['smoking_status'].unique())

['Male' 'Female' 'Other']
['Urban' 'Rural']
['formerly smoked' 'never smoked' 'smokes' 'Unknown']